terraform {
  backend "s3" {
    bucket       = "REPLACE_WITH_BOOTSTRAP_BUCKET_NAME"
    key          = "bootstrap/terraform.tfstate"
    region       = "eu-central-1"
    encrypt      = true
    use_lockfile = true
  }
}
